global-exclude *.pyc
global-exclude __pycache__
exclude build *
exclude dist *
exclude kiwi_server.egg-info *
graft static
graft scripts
graft base
graft frameworks
graft migrations
graft modules
graft kiwi
