alembic==1.4.3
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
#==pypy不支持下面的
apache-skywalking==1.0.1
APScheduler==3.6.3
backports.zoneinfo==0.2.1
bcrypt==3.2.0
CacheControl==0.12.11
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
colorama==0.4.4
crcmod==1.7
cryptography==36.0.1
dnspython==1.16.0
firebase-admin==6.1.0
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
gevent==23.9.1
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.0
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
grpcio==1.43.0
grpcio-status==1.43.0
grpcio-tools==1.43.0
httplib2==0.22.0
idna==2.10
itsdangerous==2.0.1
Jinja2==2.11.3
jmespath==0.10.0
#==pypy不支持下面的
ldappool==3.0.0
Mako==1.1.6
MarkupSafe==2.0.1
msgpack==1.0.5
oss2==2.15.0
packaging==21.3
pretty-errors==1.2.25
prettytable==3.0.0
proto-plus==1.22.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
PyJWT==2.6.0
pymongo==3.11.4
PyMySQL==1.0.2
pyparsing==3.0.6
#==pypy不支持下面的
PySocks==1.7.1
python-dateutil==2.8.2
python-editor==1.0.4
#==pypy不支持下面的
python-ldap==3.4.0
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
redis==3.5.3
requests==2.24.0
rsa==4.9
sentry-sdk==1.5.2
simplejson==3.17.6
six==1.16.0
spring-config-client==0.2
SQLAlchemy==1.3.19
tornado==6.1
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==2.0.2
wheel==0.37.0
wrapt==1.13.3

