apache-skywalking==1.1.0
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
# Flask==3
Flask==2.3.3
flask-cors==4.0.0
gevent==23.9.1
python-ldap==3.4.4
pymongo[srv]==3.11.4
PyJWT==2.8.0
redis==5.0.1
requests==2.31.0
simplejson==3.19.2
sentry-sdk==2.21.0
